.search {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: 32rem;
  margin-top: 0.5;
  width: 12rem;
  height: 1.8rem;
  border: 0.4rem solid #fff;
  background-color: rgb(73, 91, 168);
  border-radius: 10rem;
}

.search input {
  width: 11rem;
  height: 1.2rem;
  padding: 1.8rem * 0.15 0 1.8rem * 0.15 1.8rem * 0.4;
  font-size: 1rem;
  font-weight: bold;
  outline: 1rem;
  border: 1rem;
  padding-left: 1rem;
  background-color: rgb(73, 91, 168);
  border-radius: 5rem;

  color: rgb(218, 212, 212);
}

/* .search {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: 15rem;
  margin-top: 0.9;
  width: 18rem;
  height: 2rem;
  background-color: rgb(73, 91, 168);
  border: 0.4rem solid #fff;
  border-radius: 10rem;
}

.search input {
  position: relative;
  width: 18rem;
  height: 2rem;
  padding: 1.8rem * 0.15 0 1.8rem * 0.15 1.8rem * 0.4;
  outline: 1rem;
  border: 1rem;
  font-size: 1.8rem;
  color: rgb(76, 0, 255);
  opacity: 0;
} */

.search_result {
  position: absolute;
}

.search-article {
  background-color: rgb(176, 172, 201);
  border-bottom: 2px solid rgb(159, 134, 248);
  color: black;
  z-index: 20;
  width: 12rem;
}

.search-article article {
  color: black;
  font-size: 1rem;
}

.search-article p.search-description {
  color: black;
  font-size: 1.5rem;
}

.search-article p.search-date {
  color: rgba(98, 48, 192, 0.753);
}
